.cover__subtitle {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    z-index: 2;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    margin: 429px 412px 245px;
    color: #FFFFFF;
    position: relative;
}

/*Не получается убрать - распадается верстка - долго мучался. Исправить данный момент и в медиа, если ошибка повторяется.
Не лучшее решение использовать внешние или внутренние отступы, чтобы подвинуть или изменить размер блока.
Не большие значения внешних или внутренних отступов использовать очень даже хорошо, например на мобильных разрешений или в других ситуациях , чтобы блоки не липли к краям окна.
Однако если вы хотите отцентровать блок на странице, то для этого лучше всего использовать свойство margin со значениями по бокам auto, а самому блоку задать корректную максимальную ширину.*/
@media (max-width: 1179px) {
    .cover__subtitle {
        margin: 379px 332px 195px;
    }
}

@media (max-width: 1023px) {
    .cover__subtitle {
        margin: 299px 204px 115px;
    }
}

@media (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 41% 5% 11%;
        width: 90%;
    }
}
