.footer__menu-list {
    display: flex;
    list-style-type: none;
    margin-left: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
@media (max-width: 767px) {
    .footer__menu-list {
        display: block;
    }
}
