.page__intro {
    margin-top: 92px;
    margin-left: 142px;

}

@media (max-width: 1179px) {
    .page__intro {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1023px) {
    .page__intro {
        margin-top: 88px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .page__intro {
        margin-top: 64px;
        margin-left: auto;
        margin-right: auto;
    }
}
