.page__intro {
    margin-top: 92px;
    margin-left: 142px;
    margin-right: 442px;
}

@media (max-width: 1179px) {
    .page__intro {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (max-width: 1023px) {
    .page__intro {
        margin-top: 88px;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 767px) {
    .page__intro {
        margin-top: 64px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
