.header__languages {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    margin: 0;
    align-items: flex-end;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

@media (max-width: 767px) {
    .header__languages {
        padding-right: 3px;
    }
}
