.header__languages {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    margin: 0;
    align-items: center;

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}