.intro {
    font-family: Inter, Arial, serif;
    color: white;
    max-width: 76%;
}

@media (max-width: 1279px) {
    .intro {
        max-width: 984px;
    }
}

@media (max-width: 1023px) {
    .intro {
        max-width: 768px;
    }
}
@media (max-width: 767px) {
    .page__intro {
        max-width: calc(100% - 16px*2);
    }
}
