.cover {
    text-align: center;
    font-family: Inter, Arial, serif;
    color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /*max-width: 1184px;*/
    justify-items: center;
}

@media (max-width: 1179px) {
    .cover {
        /*max-width: 1024px;*/
    }
}

@media (max-width: 1023px) {
    .cover {
/*max-width: 768px;*/
    }
}

@media (max-width: 767px) {
    .cover {
       /*max-width: 320px;*/
    }
}

/*Верстка распадается если убрать отступы - долго мучался с этими блоком. Используйте возможности флекса или грида, чтобы расположить элементы по центру блока.*/
