.page__lead {
    margin-top: 56px;
    margin-left: 148px;
    margin-right: 148px;
}

@media (max-width: 1179px) {
    .page__lead {
        margin-top: 48px;
        margin-left: 48px;
        margin-right: 48px;

    }
}

@media (max-width: 1023px) {
    .page__lead {
        margin-right: 0;
        margin-left: 0;

    }
}
