.cover__background {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
}

@media (max-width: 1179px) {
    .cover__background {
        max-width: 1024px;
    }
}

@media (max-width: 1023px) {
    .cover__background {
        width: 768px;
    }
}
@media (max-width: 767px) {
    .cover__background {
        width: 320px;
    }
}