.lead__caption {
    text-transform: uppercase;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    margin-top: 8px;
    letter-spacing: 1.5px;
}

@media (max-width: 1179px) {
    .lead__caption {
        margin-left: 4%;
    }
}
@media (max-width: 1100px) {
    .lead__caption {
        margin-left: 0;
    }
}

@media (max-width: 1023px) {
    .lead__caption {
        margin-left: 3%;
    }
}@media (max-width: 767px) {
    .lead__caption {
        margin-left: 5%;
    }
}
