.page__footer {
    margin: 92px auto 24px;
}

@media (max-width: 1023px) {
    .page__footer {
        margin-top: 88px;
    }
}

@media (max-width: 767px) {
    .page__footer {
        max-width: 320px;
        margin-top: 64px;
        margin-left: 16px;
    }
}
