.page__photo-grid {
    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
}

@media (max-width: 1023px) {
    .page__photo-grid {
        margin-left: 24px;
        margin-right: 24px;

    }
}
@media (max-width: 767px) {
    .page__photo-grid {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
    }
}